<main class="container">
  <h1>{{ title() }}</h1>
  <div class="dogs animals-list">
    <h2>Dogs</h2>
    <button (click)="openDogs()">Select</button>
    <ul >
      @for (trait of dog?.traits; track $index) {
      <li class="card">
          <strong>{{ trait.name }}</strong>
      </li>
      }
    </ul>

  </div>

  <div class="cats animals-list">
    <h2>Cats</h2>
    <button (click)="openCats()">Select</button>
    <ul>
      @for (trait of cat?.traits; track $index) {
      <li class="card">
          <strong>{{ trait.name }}</strong>
      </li>
      }
      </ul>
  </div>

  <app-editor
    [animal]="animal"
    [availableTraits]="traits"
    [animalType]="editing"
    [open]="drawerOpen"
    (closed)="drawerOpen = false"
    (confirm)="onConfirm($event)"
  ></app-editor>
</main>
