<main class="container">
  <h1>{{ title() }}</h1>
  <div class="dogs animals-list">
    <h2>Dogs</h2>
    <button (click)="openDogs()">Insert</button>
    <ul >
      @for (dog of dogs; track $index) {
      <li class="card">
        <strong>{{ dog.name }}</strong>
        <ul>
            @for (trait of dog.traits; track $index){
              <li>{{ trait.name }}</li>
            } 
        </ul>
        </li>
      }
    </ul>

  </div>

  <div class="cats animals-list">
    <h2>Cats</h2>
    <button (click)="openCats()">Insert</button>
    <ul>
      @for (cat of cats; track $index) {
      <li class="card">
        <strong>{{ cat.name }}</strong>
         <ul>
            @for (trait of cat.traits; track $index){
              <li>{{ trait.name }}</li>
            } 
        </ul>
        </li>
      }
      </ul>
  </div>

  <app-editor
    [animals]="animals"
    [availableTraits]="traits"
    [animalType]="editing"
    [open]="drawerOpen"
    (closed)="drawerOpen = false"
    (confirm)="onConfirm($event)"
  ></app-editor>
</main>
